@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400,500,600&display=swap');

.screen {float: left; display: block; width: 100%; padding-bottom: 120px;}

.screen.dark {background-color: #000; color: #fff; }
.screen.dark .header {background: #000; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2); color: #fff;;}
.screen.dark .header .navigation span.active {border-color: #fff;}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    text-align: center;
    background: #fff;
    z-index: 2;
}

.header .container {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.name {
    float: left;
    margin-top: 11px;
    margin-left: 16px;
    font-size: 17px;
}

.navigation {
    float: right;
    margin-bottom: -1px;
}

.navigation span {
    display: block;
    margin-right: 16px;
    float: right;
    padding: 12px 0 9px 0;
    border-bottom: solid 4px transparent;
    font-size: 15px;
}

.navigation span.active {
    border-bottom: solid 4px #000;
}

.section {
  float: left;
  width: 100%;
  margin-top: 120px;
  text-align: center;
  font-family: Inter;
}

.text {
  display: inline-block;
  max-width: 600px;
    width: 86%;
    margin: 0 7%;
}

.headline {
  font-size: 20px;
  font-weight: 500;
}

.subheadline {
  font-size: 17px;
  margin-top: 4px;
}

.description {
  font-size: 15px;
  line-height: 19px;
  margin-top: 16px;
}

.pagination span {
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 99px;
    border: solid 2px #000;
    margin: 0 4px;
    font-weight: 600;
    font-size: 15px;
}

.pagination span.active {
    background: #000;
    color: #fff;
}

.eleven-twenty img {max-width: 1120px;}

.image-gallery {
    width: auto;
    height: auto;
    margin-top: 40px;
    display: inline-block;
}

.image-gallery:focus {
    outline: none !important;
    box-shadow: none;
}

.image-gallery-slides {
 width: calc(100% - 80px);
    margin: 0 40px;
}

.image-gallery-left-nav, .image-gallery-right-nav {
    padding: 50px 0;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    width: 40px !important;
    height: 48px !important;
}
.image-gallery-icon {opacity: 0.8;}

.image-gallery-icon:hover {
      opacity: 1; color: #fff; }
      
.image-gallery-icon:hover .image-gallery-svg {
        transform: scale(1) !important; }

*:focus {
    outline: none !important;
}