
.screen {float: left; display: block; width: 100%;}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
}

.navigation span {
    display: block;
    margin-right: 16px;
    float: right;
    padding: 12px 0 9px 0;
    border-bottom: solid 3px transparent;
}

.navigation span.active {
    border-bottom: solid 3px #000;
}

.section {
  float: left;
  width: 100%;
  margin-top: 120px;
  text-align: center;
  font-family: Inter;
}

.text {
  display: inline-block;
  max-width: 600px;
    width: 86%;
    margin: 0 7%;
}

.headline {
  font-size: 20px;
  font-weight: 600;
}

.subheadline {
  font-size: 17px;
  margin-top: 4px;
}

.description {
  font-size: 15px;
  line-height: 19px;
  margin-top: 16px;
}